@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  @apply text-lg leading-7 my-4;
}

.font-roboto {
  font-family: "Roboto", "san-serif";
}

.font-anek {
  font-family: "Anek Telugu", "sans-serif";
}

.h1 {
  @apply font-anek font-semibold text-8xl m-0 w-full;
  letter-spacing: -1px;
  line-height: 108px;
}

.h2 {
  @apply font-anek font-medium text-5xl m-0 w-full;
  letter-spacing: -0.25px;
}

.h3 {
  @apply font-anek font-medium text-4xl m-0 w-full;
  line-height: 75px;
}

.h4 {
  @apply font-anek font-medium text-3xl m-0 w-full;
  letter-spacing: 0.25px;
}

.h5 {
  @apply font-anek font-medium text-lg m-0 w-full;
  letter-spacing: 0.25px;
}

.h6 {
  @apply font-anek font-medium text-sm m-0 w-full;
  letter-spacing: 0.25px;
}

.anchor {
  @apply no-underline text-base font-medium duration-300 ease-linear hover:text-slate-800;
  color: #7000ff;
}

.subtitle {
  @apply text-purple-800 font-anek font-medium text-base leading-6;
}

.subtitle2 {
  @apply text-blue-700 font-anek font-medium text-base leading-6;
}

.parsmall {
  @apply text-sm text-slate-300;
}

.pbutton {
  @apply hover:bg-slate-500 font-roboto text-base tracking-wider font-semibold rounded-3xl bg-slate-800 border-none text-slate-300 py-2 px-5 duration-200;
}

.tbutton {
  @apply hover:opacity-75 font-roboto text-base tracking-wider font-semibold bg-transparent border-none text-slate-800 p-3
  duration-200;
}

.with-icon {
  @apply flex justify-center items-center pr-3;
}
.with-icon:hover > img {
  @apply translate-x-1 duration-200 ease-out;
}

/* modified .pbutton */
.pbuttonmod {
  background-color: rgba(30, 41, 59, 0.25);
}
.pbuttonmod:hover {
  background-color: rgba(30, 41, 59, 0.5);
}

ul > a:hover {
  text-decoration: underline;
}

/* bare bones 2 flex cont in a box */

.two-col {
  @apply flex box-border w-full max-w-6xl items-start justify-center;
}

.two-col > .col-left {
  @apply box-border w-1/2 pr-4 flex flex-col;
}
.two-col > .col-right {
  @apply box-border w-1/2 pl-4 flex flex-col;
}

/* main sec styling start */
.button-cont > button:nth-of-type(2) {
  color: #7000ff;
}
