@tailwind base;
@tailwind components;
@tailwind utilities;

/* PREFLIGHT  */
* {
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.with-icon {
  @apply flex items-center justify-center pr-3;
}
.with-icon:hover > img {
  @apply translate-x-1 duration-200 ease-out;
}

/* layer components introduced */
@layer components {
  .pbutton {
    @apply rounded-3xl border-none bg-slate-800 px-5 py-2 font-roboto text-base font-semibold tracking-wider text-slate-300 duration-200 hover:bg-purplish-400;
  }
  .tbutton {
    @apply border-none bg-transparent p-3 font-roboto text-base font-semibold tracking-wider text-slate-800 duration-200
    hover:opacity-75;
  }
  .card {
    @apply mr-5 flex flex-col items-start;
  }
  .subtitle {
    @apply font-anek text-xl font-medium leading-6 text-purple-800;
  }

  .subtitle2 {
    @apply font-anek text-xl font-medium leading-6 text-blue-700;
  }
  .h1 {
    @apply m-0 w-full font-anek text-8xl font-semibold;
    letter-spacing: -1px;
    line-height: 108px;
  }
  .h2 {
    @apply m-0 w-full font-anek text-5xl font-medium tracking-widest;
  }

  .h3 {
    @apply m-0 w-full font-anek text-4xl font-medium;
  }

  .h5 {
    @apply m-0 w-full font-anek text-lg font-medium;
    letter-spacing: 0.25px;
  }

  .h6 {
    @apply m-0 w-full font-anek text-sm font-medium;
    letter-spacing: 0.25px;
  }
  .stat-card {
    @apply h-full border-l-2 border-solid border-bluish-500 pl-2;
  }
  .anchor {
    @apply text-lg font-medium no-underline duration-300 ease-linear hover:text-slate-800;
    color: #7000ff;
  }

  .anchorfooter {
    @apply my-1 cursor-pointer text-sm font-semibold text-slate-500 no-underline duration-100 ease-linear hover:text-slate-900;
  }

  .two-col {
    @apply box-border flex max-h-screen w-full max-w-6xl items-start justify-center;
  }

  .col-left {
    @apply box-border flex w-1/2 flex-col pr-4;
  }
  .col-right {
    @apply box-border flex w-1/2 flex-col pl-4;
  }

  .col {
    @apply mx-10;
  }

  .firstlink {
    @apply h5 text-2xl font-semibold text-slate-700;
  }
  .par {
    @apply my-4 font-roboto text-lg leading-7 text-slate-800;
  }
  .h4 {
    @apply m-0 w-full font-anek text-3xl font-medium;
    letter-spacing: 0.25px;
  }
  .parsmall {
    @apply text-sm text-slate-600;
  }
  .card {
    @apply flex flex-col justify-center items-center;
  }
  .anchorlist{
    @apply text-slate-100;
  }
}

ul > a:hover {
  text-decoration: underline;
}

.grid-container {
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash"
    "phone dash dash";
}

#credit-card {
  grid-area: card;
}
#invoice {
  grid-area: slack;
}
#phone {
  grid-area: phone;
}
#dash {
  grid-area: dash;
}

#gradient-canvas {
  --gradient-color-1: #b067f4;
  --gradient-color-2: #fc5900;
  --gradient-color-3: #a7bef9;
  --gradient-color-4: #1f6e27;
};

#sidegradient-canvas {
  --gradient2-color-1: #aaf530;
  --gradient2-color-2: #30b3f9;
  --gradient2-color-3: #e66920;
  --gradient2-color-4: #660d63;
};
